@import "./reset";
@import "./myBootstrap";

body {
    // Sidebar
    .sidebarContainer {
        width: 20%;
        height: 100vh;
        background-color: $white;
        border-right: 1px solid $borderGrey;

        .logoContainer { // Logo
            img {
                width: 60%;
            }
        }

        .navMenu {
            ul {
                max-height: 55vh;
                a {
                    color: $grey;
                    height: 50px;
                    padding-left: 10%;
                    margin-bottom: 10px;
                    i {
                        @include semiPrimaryFont;
                        margin-right: 14px;
                    }
                    span {
                        font-weight: 500;
                        letter-spacing: 1px;
                        @include veryLittleFont;
                        text-transform: uppercase;
                    }
                    &:hover {
                        color: $green;
                        background-color: $lightGreenColor;
                    }
                }
                .home {
                    color: $green;
                    border-left: 3px solid $green;
                    background-color: $lightGreenColor;
                }
            }

            .logout {
                width: 100%;
                color: $grey;
                @include tinyFont;
                text-transform: uppercase;
                a {
                    color: $grey;
                    i {
                        @include semiPrimaryFont;
                    }
                }
            }
        }
    }

    .mainContents {
        width: 80%;
        background-color: $lightGrey;

        header {
            width: 100%;
            height: 60px;
            background-color: $white;
            .leftSection {
                width: 80%;

                form { // Search
                    width: 60%;
                    input {
                        width: 100%;
                        height: 40px;
                        color: $black;
                        border-radius: 5px;
                        padding-left: 45px;
                        border: 1px solid $lightGrey;
                        &::placeholder {
                        @include tinyFont;
                        font-weight: 400;
                        color: $veryLightGrey;
                        }
                
                        &:focus-within {
                            outline: none;
                            @include tinyFont;
                            color: $lightBlack;
                            border-color: $borderGrey;
                        }
                    }
                    i { // Search icon
                        position: relative;
                        left: 40px;
                        top: 15px;
                        @include tinyFont;
                        color: $veryLightGrey;
                    }
                }
            }

            .rightSection {
                width: 20%;
                height: 50%;
                .bi-bell-fill {
                    color: $veryLightGrey;
                }
                a {
                    img {
                        width: 25px;
                        border-radius: 50px;
                    }
                    p {
                        color: $grey;
                        @include tinyFont;
                    }
                    .bi-chevron-down {
                        @include veryLittleFont;
                    }
                }
            }
        }
    }
}