@import "./reset";
@import "./myBootstrap";

body {
    // Sidebar
    .sidebarContainer {
        
        @include sidebar;

        .product {
            color: $green;
            border-left: 3px solid $green;
            background-color: $lightGreenColor;
        }
    }

    .mainContents {

        @include mainContents;

        header {
            @include adminHeader;
        }

        .dashboardContainer {

            @include dashboardContainer;

            .tableContainer {

                @include tableContainer;

            }
        }
    }
}