@import "./reset";
@import "./myBootstrap";

body {
    // Sidebar
    .sidebarContainer {
        @include sidebar;
        .home {
            color: $green;
            border-left: 3px solid $green;
            background-color: $lightGreenColor;
        }
    }

    .mainContents {

        @include mainContents;

        header {
            @include adminHeader;
        }

        .dashboardContainer {

            @include dashboardContainer;
            
            // First row of overview 
            .firstRowOverview {

                .overview {
                    width: 23%;
                    height: 80px;
                    border-radius: 5px;
                    background-color: $white;
                    @include boxShadowLightOne;
                    svg {
                        fill: $white;
                        width: 40px;
                        height: 40px;
                        padding: 8px;
                        border-radius: 5px;
                        @include boxShadowLightTwo;
                        background-color: $primaryColor;
                    }
                    .overviewIcon {
                        color: $white;
                        padding: 2px 8px;
                        border-radius: 5px;
                        @include mainNavIcon;
                        @include boxShadowLightTwo;
                    }
                    .iconTwo {
                        background-color: $accentColor;
                    }                    
                    .iconThree {
                        background-color: $accentHoverColor;
                    }
                    .iconFour {
                        background-color: $green;
                    }
                    .overviewDetails {
                        h3 {
                            @include semiTinyFont;
                            font-weight: 600;
                            color: $primaryColor;
                        }
                        .statTwo {
                            color: $accentColor;
                        }             
                        .statThree {
                            color: $accentHoverColor;
                        }
                        .statFour {
                            color: $green;
                        }
                        p {
                            @include tinyFont;
                            color: $grey;
                            text-transform: capitalize;
                        }
                    }
                }
            }

            // Second row of overview 
            .secondRowOverview {

                .firstCol {
                    width: 62.5%;
                    height: 240px;
                    border-radius: 5px;
                    background-color: $white;
                    @include boxShadowLightOne;

                }                
                .secondCol {
                    width: 35%;
                    height: 240px;
                    border-radius: 5px;
                    background-color: $white;
                    @include boxShadowLightOne;
                }
            }

            // Third row of overview 
            .thirdRowOverview {
                width: 100%;
                height: 300px;

                .colOne {
                    width: 48.6%;
                    height: 100%;
                    border-radius: 5px;
                    background-color: $white;
                    @include boxShadowLightOne;
                }
                
                .colTwo {
                    width: 48.6%;
                    height: 100%;
                    border-radius: 5px;
                    background-color: $white;
                    @include boxShadowLightOne;
                }
            }
        }
    }
}