@import "./reset";
@import "./myBootstrap";

body {

    .mainContainer {

        @include mainContainer;
        background-color: $lightGrey;

        header {
            
            @include header;

            li {
                a {
                    padding-bottom: 21px !important;
                }
            }
            .cart {
                a {
                    border-bottom: 2px solid $black;
                }
            }
        } 

        .blogContents { // Cart contents container/wrapper

            @include blogContents;

            section {
                
                .mainContentContainer {
                    padding: 30px 0 150px 0;
    
                    .notLoggedIndashboardView {
                        min-height: 80vh;
                        text-align: center;
                        background-color: $white;
    
                        div {
                            .actionBtn { 
                                @include actionBtn;
                            }
                        }
    
                        p {
                            @include semiTinyFont;
                            color: $lightBlack;
                        }
                    }
    
                    .loggedInCartContents {
                        min-height: 80vh;
                        // border: 1px solid red;
    
                        main {
                            width: 67.2%;
                            color: $black;
                            padding: 0 40px;
                            background-color: $white;
    
                            .contentTitle {
                                padding: 30px 0 20px 0px;
    
                                h3 {
                                    @include semiPrimaryFont;
                                    font-weight: 600;
                                }
                                h5 {
                                    @include semiTinyFont;
                                    font-weight: 600;
                                }
                            }
    
                            table {
                                thead {
                                    tr {
                                        th {
                                            @include tinyFont;
                                            color: $borderGrey;
                                        }
                                    }
                                }
    
                                tbody {
                                    tr {
                                        @include tinyFont;
                                        // border: 1px solid red;
    
                                        td {
                                            width: 100%;
                                            // border: 1px solid red;
    
                                            .productPhoto {
                                                img {
                                                    width: 100px;
                                                    height: 100px;
                                                    object-fit: cover;
                                                    border-radius: 4px;
                                                    // border: 1px solid red;
                                                }
                                            }
                                            .productInfo {
                                                h6 {
                                                    max-width: 90%;
                                                    @include tinyFont;
                                                    font-weight: 600;
                                                }
                                                p {
                                                    a {
                                                        color: $accentHoverColor;
                                                        @include tinyFont;
                                                    }
                                                }
                                            }
                                        }
                                        .productQuantity {
                                            width: 20%;
                                            div {
                                                button {
                                                    border: none;
                                                    background: none;
                                                    padding: 2px 14px;
                                                    @include semiPrimaryFont;
                                                    font-weight: 600;
                                                    // border: 1px solid red !important;
                                                }
                                                h2 {
                                                    font-size: 12px;
                                                    padding: 6px 14px;
                                                    border-radius: 4px;
                                                    border: 1px solid $borderGrey;
                                                    box-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.2);
                                                }
                                            }
                                        }
                                        .productPrice {
                                            width: 30%;
    
                                        }
                                        .totalPrice {
                                            width: 30%;
                                        }
                                    }
                                }
                            }
                        }
                        aside {
                            width: 32.8%;
                            padding: 0 40px;
                            background-color: $lightGreenColor;
                            // border: 1px solid red;
    
                            .contentTitle {
                                padding: 30px 0 20px 0px;
                                h3 {
                                    @include semiPrimaryFont;
                                    font-weight: 600;
                                }
                            }
                            .orderSummary {
                                color: $grey;
                                @include semiTinyFont;
                                font-weight: 600;
                                text-transform: uppercase;
                                padding-top: 19px;
                            }
                            .orderShipping {
                                color: $grey;
                                p {
                                    @include tinyFont;
                                    text-transform: uppercase;
                                }
                                select {
                                    color: $grey;
                                    border-color: $borderGrey;
                                    @include tinyFont;
    
                                }
                                
                            }
                            .promoCode {
                                p {
                                    color: $grey;
                                    @include tinyFont;
                                    text-transform: uppercase;
                                }
                                input {
                                    width: 100%;
                                    @include tinyFont;
                                    padding: 5px 10px;
                                    border: 1px solid $borderGrey;
                                    &:focus {
                                        outline: 0px solid $borderGrey;
                                    }
                                }
                                button {
                                    width: 40%;
                                    padding: 7px;
                                    color: $white;
                                    @include tinyFont;
                                    text-transform: uppercase;
                                    background-color: $accentHoverColor;
                                    transition: .4s ease;
    
                                    &:hover {
                                        background-color: $accentColor;
                                    }
                                }
                            }
                            .orderFooter {
                                .totalCost {
                                    color: $lightBlack;
                                    @include tinyFont;
                                    font-weight: 600;
                                    text-transform: uppercase;
                                }
                                button {
                                    width: 100%;
                                    padding: 8px;
                                    color: $white;
                                    @include tinyFont;
                                    text-transform: uppercase;
                                    background-color: $black;
                                    transition: .4s ease;
    
                                    &:hover {
                                        background-color: $lightBlack;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .dropUsAmessage { // this block styles the div before the footer
              
                @include dropUsAmessage;

            }
        }
    }

    footer { // footer
        @include footer;
    }
 
}