@import "./reset";
@import "./myBootstrap";

body {

    .mainContainer {

        @include mainContainer;

        header {
            @include header;
            .home {
                a {
                    border-bottom: 2px solid $black;
                }
            }
        } 

        .blogContents { // (section) blog contents container start here

            @include blogContents;

            section {
                .mainContentContainer {
                    width: 50%;
                    padding-top: 30px;
                    padding-bottom: 100px;

                    .infoModal {

                        @include infoModal;
                    }
                    
                    .postCard { // blog post card starts here
                        width: 100%;
                        word-break: break-all;
                        hyphens: auto;
                        margin-bottom: 30px;
                        transition: translate 0.5s ease;
                        background-color: $white;
                        border: 1px solid red;
                        &:hover {
                            // translate: 0 -1%;
                            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.123)
                        }

                        .postHeader {
                            width: 100%;
                            height: 55px;
                            display: flex;
                            align-items: center;
                            padding: 0 10px;
                            justify-content: space-between;

                            .userAvater {
                                display: flex;
                                align-items: center;
                                img {
                                    width: 38px;
                                    height: 38px;
                                    border-radius: 50px;
                                    border: 1px solid $lightGrey;
                                }

                                .avaterDetails {
                                    @include tinyFont;
                                    font-weight: 600;
                                    text-transform: capitalize;
                                    color: $black;
                                }
                            }

                            .postInfo {
                                display: flex;
                                align-items: center;
                                p {
                                    @include veryLittleFont;
                                    margin-right: 5px;
                                    color: $veryLightGrey;
                                }

                                i {
                                    @include semiPrimaryFont;
                                    color: $grey;
                                    padding: 10px;
                                    &:hover {
                                        color: $black;
                                        border-radius: 50%;
                                        background-color: $lightGrey;
                                    }
                                }

                            }
                        }

                        .postPhoto {
                            overflow: hidden;
                            img {
                                width: 100%;
                                height: 330px;
                                object-fit: cover;
                                transition: transform .5s ease-in-out;
                                &:hover {
                                    transform: scale(1.01);
                                    // transform: scale(2) rotate(25deg);
                                }
                            }
                            .timeAgo {
                                background-color: $transparentWhite;
                                h4 {
                                    @include tinyFont;
                                }
                            }
                        }

                        .postIconsContainer {
                            .rightIconsDiv {
                                @include postCardIcons;
                                position: relative;
                                bottom: 60px;
                                margin: -180px 20px 0 0;
                            }
                        }
                        
                        .postTextWrapper {
                            padding: 10px 15px;

                            .postCategory {
                                @include veryLittleFont;
                                color: $black;
                                font-weight: 500;
                                letter-spacing: 1.5px;
                                margin-bottom: 8px;
                                text-transform: uppercase;   
                            }

                            .postTitle {
                                @include semiTinyFont;
                                color: $black;
                                font-weight: 500;
                                // letter-spacing: 1.5px;
                                margin-bottom: 8px;
                                text-transform: capitalize;   
                            }
    
                            .postParagraph {
                                display: flex;
                                @include tinyFont;
                                padding-bottom: 10px;
                                color: $grey;

                                button {
                                    color: $grey;
                                    @include tinyFont;
                                    font-weight: 400;
                                    border: none;
                                    background: none;
                                }
                            }
                            
                            .commentsCount {
                                @include tinyFont;
                                color: $veryLightGrey;
                            }
                        }

                        .postCommentWrapper {
                            padding: 12px 15px;
                            border-top: 1px solid $lightGrey;
                            .emojiWrapper {
                                width: 6%;
                                i {
                                    font-weight: 700;
                                    @include semiTertiaryFont;
                                    color: $black;
                                }
                            }

                            .commentWrapper {
                                width: 84%;
                                textarea {
                                    width: 100%;
                                    height: 20px;
                                    border: none;
                                    resize: none;
                                    padding-right: 4.4px;
                                    @include tinyFont;
                                    color: $black;
                                    line-height: 1rem;
                                    &::placeholder {
                                        @include tinyFont;
                                        color: $veryLightGrey;
                                    }

                                    &:focus {
                                        outline: none;
                                    }
                                }
                            }

                            .postBtnWrapper {
                                width: 10%;
                                button {
                                    width: 100%;
                                    border: none;
                                    background: none;
                                    @include semiTinyFont;
                                    font-weight: 500;
                                    color: $lightGreen;
                                }
                            }
                        }
                    }
                }

                .rightSideContentContainer { // (aside) aside starts here
                    display: flex;
                    width: 45.7%;
                    height: 100vh;
                    top: 70px;
                    position: sticky;
                    padding-left: 4%;
                    align-items: center;
                    flex-direction: column;
                    // z-index: 0;
                }
            }

            .dropUsAmessage { // this block styles the div before the footer
              
                @include dropUsAmessage;

            }
        }
    }

    footer { // footer
        @include footer;
    }

    // Create post modal
    .customModal {
        @include customModal;
    }

    // Create post submit button
    .postBtn {
        position: fixed;
        bottom: 70px;
        right: 45px;
        width: 70px;
        height: 70px;
        border-radius: 50px;
        font-size: 30px;
        color: $white;
        box-shadow: 0px 0px 30px $accentHoverColor;
        @include accentColorBtn;
        z-index: 2;
    }

    // Animated Create post modal button
    .createPostTooltip {
        position: fixed;
        bottom: 80px;
        right: 45px;
        width: 200px;
        padding: 12px 0 12px 20px;
        border-radius: 50px;
        border: 1px solid $accentHoverColor;
        background-color: $white;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.192);
        z-index: 1;
        transition: right 1.4s, width 1.4s;
        visibility: visible;
      
        p, a {
          @include semiTinyFont;
          color: $black;
          visibility: visible;
        }
      
        &.hide {
          right: -250px;
          width: 0px;
          visibility: hidden;
      
          p, a {
            visibility: hidden;
          }
        }
    }
    
    // Black background behind opened modal
    .blackModalBackground {
        @include blackModalBackground;
    }
       
}