@import "./reset";
@import "./myBootstrap";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

body {

    .mainContainer {
        @include mainContainer;

        header {
            @include header;
        }

        .blogContents { // (section) blog contents container start here

            @include blogContents;

            nav { // Breadcrumbs navigation
                ul {
                    li {
                        i {
                            @include veryLittleFont;
                            color: $lightBlack;
                        }
                        a {
                            @include primaryFont;
                            color: $primaryColor;
                            &:hover {
                                color: $green;
                            }
                        }
                    }
                    li:nth-child(3) {
                        @include tinyFont;
                        color: $grey;
                        font-weight: 400;
                    }
                }
                .bi-three-dots-vertical {
                    padding: 4.5px 9px;
                    border-radius: 50px;
                    color: $lightBlack;
                    background-color: $borderGrey;
                }
            }
            
            section {
                
                .mainContentContainer {
                    width: 67.5%;
                    position: sticky;
                    padding-bottom: 150px;
                    // border: 1px solid red;

                    .innerContainer { // photo, title, category div
                        margin-right: 43px;

                        .postImage {
                            img {
                                height: 60vh;
                                object-fit: cover;
                            }

                            .postTime {
                                position: absolute;
                                top: 80px;
                                left: 15px;
                                @include veryLittleFont;
                                color: $lightBlack;
                                text-transform: none;
                                border-radius: 50px;
                                background-color: $slightTransparentWhite;
                                // border: 1px solid red;
                            }
                        }

                        .rightIconsDiv {
                            position: absolute;
                            right: 65px;
                            top: 160px;
                            height: 28vh;
                            
                            div {
                                display: flex;
                                justify-content: center;
                                flex-direction: column;
                                align-items: center;
                                
                                a {
                                    cursor: pointer;
                                    margin-bottom: 0.6px;
                                    i {
                                        font-size: 1.3rem;
                                        padding: 6px 8px 2px 8px;
                                        &:hover {
                                          background-color: $white !important;
                                        }
                                    }
                                }
                                
                                i {
                                    @include postIcon;
                                    margin-bottom: 0px;
                                    transition: all .4s; 
                                }

                                p {
                                    @include veryLittleFont;
                                    font-weight: 600;
                                    color: $black;
                                    background-color: $slightTransparentWhite;
                                    padding: 0 7px; 
                                    border-radius: 3px;
                                }

                                &:hover {
                                    i {
                                        background-color: $white;
                                    }
                                }
                                &:hover {
                                    p {
                                        background-color: $white;
                                    }
                                }
                            }

                            .shares {
                                i {
                                    transform: scaleX(-1);
                                    transform-origin: 50% 50%;
                                    -webkit-transform: scaleX(-1); /* Safari and Chrome */
                                    -moz-transform: scaleX(-1); /* Firefox */
                                    -ms-transform: scaleX(-1); /* Internet Explorer */
                                    -o-transform: scaleX(-1); /* Opera */
                                }
                            }
                        }

                        .categoryTitleContainer { // title, category container
                            width: 85%;
                            position: relative;
                            bottom: 40px;
                            background: $white;
                            // border: 1px solid red;

                            .categoryReadTimeContainer { // category and read time div
                                width: 50%;
                                position: relative;
                                bottom: 30px;
                                background: $transparentWhite;
                                // border: 1px solid red;

                                h5 { 
                                    @include tinyFont;
                                    color: $lightBlack;
                                    font-weight: 600;
                                    letter-spacing: 1.5px;
                                    text-transform: uppercase;
                                }

                                h6 {
                                    @include veryLittleFont;
                                    color: $grey;

                                    span {
                                        color: $grey;
                                    }
                                }
                            }
                           
                        }
                        .titleContainer { // title div 
                            h4 {
                                @include semiTertiaryFont;
                                color: $lightBlack;
                                margin-top: -10px;
                                &::first-letter {
                                    @include tertiaryFont;
                                }
                            }
                        }

                        .commentSection {
                            width: 100%;
                            // border: 1px solid red;

                            .iconsWrapper {
                                div {
                                    i {
                                        @include semiPrimaryFont;
                                        color: $black;
                                    }

                                    p {
                                        @include tinyFont;
                                        color: $black;
                                    }
                                }

                                .shares {
                                    i {
                                        transform: scaleX(-1);
                                        transform-origin: 50% 50%;
                                        -webkit-transform: scaleX(-1); /* Safari and Chrome */
                                        -moz-transform: scaleX(-1); /* Firefox */
                                        -ms-transform: scaleX(-1); /* Internet Explorer */
                                        -o-transform: scaleX(-1); /* Opera */
                                    }
                                }
                            }

                            .userComment {
                                border: 1px solid $borderGrey;

                                .userAvatar {
                                    // border: 1px solid red;
                                    a {
                                        img {
                                            width: 50px;
                                            width: 50px;
                                            border-radius: 50px;
                                            object-fit: cover;
                                            // border: 1px solid red;
                                        }
                                    }
                                }
                                .commentContainer {
                                    margin-left: 20px;

                                    .userStats {
                                        h6 {
                                            color: $black;
                                            @include semiTinyFont;
                                            text-transform: capitalize;
                                        }
                                    }

                                    p {
                                        @include primaryFont;
                                        color: $lightBlack;
                                    }
                                }
                            }

                            .commentWrapper {
                                textarea {
                                    width: 100%;
                                    height: 150px;
                                    resize: none;
                                    padding: 7px;
                                    border: 1px solid $borderGrey;
                                    @include tinyFont;
                                    color: $black;
                                    line-height: 1rem;
                                    &::placeholder {
                                        @include tinyFont;
                                        color: $veryLightGrey;
                                    }

                                    &:focus {
                                        outline: none;
                                        border: 1px solid $lightGreen;
                                    }
                                }
                            }
                        }
                    }

                    .postDescription { // description div 
                        width: 100%;
                        margin-top: -12px;
                        padding-bottom: 70px;
                        border-bottom: 1px solid $borderGrey;

                        p {
                            @include primaryFont;
                            color: $lightBlack;
                        }
                    }
                }

                .rightSideContentContainer { // (aside) aside starts here

                    @include rightSideContentContainer;

                }
            }

            .dropUsAmessage { // this block styles the div before the footer
              
                @include dropUsAmessage;

            }
        }
    }

    footer { // footer
        @include footer;
    }
    
    // Create post modal
    .customModal {
        @include customModal;
    }

    // Black background behind opened modal
    .blackModalBackground {
        @include blackModalBackground;
        z-index: 10;
    }
 
}